.App {
    text-align: center;
    background-color: #302834; /* #282c34  */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  min-height: 80vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

.instructions {
    margin-bottom: 100px;
}

header {
    min-height: 20vh;
}

header h1 {
    margin:0px;
    padding:20px;
    color: #111012;
}

form#quizzer-form input {
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: #98FB98;
    border-color: #98FB98;
}

.fail {
    background-color: #F08080;
    border-color: #F08080;
}

.btn {
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #9370DB;
    border-color: #9370DB;
    font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
